body{
    background-color: black;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    font-size: 40px;
    list-style-type: none;
   
}

li{
    padding: 6px 40px;
}

.container-navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
 
}

a{
    text-decoration: none;
    color: antiquewhite;
}

a:hover{
    color: #f58b1b;
    transition: 0.2s;

}

.push{
    margin-left: 620px;
}

p{
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

.welc{
    color: antiquewhite;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 340PX;
    margin: 200px 0px;
  
 
}


    
.special{
    font-size: 30px;
    color: antiquewhite;
    line-height: 0.01;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 150px;
    

}

.dropdown{
    padding-top: 0px;
    font-size: 25px;
    line-height: 25px;

}

.bold{
    font-weight: 900;
}



.carp{
   padding: 30px 80px;
   display: flex; 
   flex-wrap: wrap;
   margin: 0px;
}

.object-container{
    display: flex;
    align-items: left;

}

.carp-text{
    font-size: 22px;
   /* border: 1px dashed burlywood;*/
    text-align: center;
    padding: 100px 25px;
    font-weight: normal;
    line-height: 35px;
}

.info-container{
display:flex ;
flex-wrap:wrap ;
justify-content: center;
}



.info-text{
    font-size: 20px;
    padding: 90px 0px;
   width: 900px;
   height: 0px;  
   text-align: center;
   font-weight: bold;
}


.reflection-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
   
}

.sub-reflection{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    align-items: center;
    padding: 10px 0px;
    font-weight: bold;
}

.reflection{
    font-weight: normal;
    font-size: 20px;
    padding: 0px 0px;
    color: antiquewhite;
    text-align:center;
    width: 1100px;
    height: 500px;

}


.exports-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
 

 
}

.typo{
   padding: 0px 30px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    
}
    


.type-text{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    font-size: 20px;
    padding: 10px 0px;
    height: 90px;
    font-weight: bold;
   
   /*border: 1px dashed burlywood;*/
  
}


.type-sub{
    padding: 50px 80px;
    /*border: 1px dashed burlywood;*/
    font-size: 20px;
    text-align: left;
    font-weight: normal;
    width: 1200px;
    height: 150px;
}


.UX-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}


.UX{
   width: 325px;
   height: 475px;
   justify-content: center;
   padding: 20px 20px;
}

.UX-text-container{
    display: flex;
flex-wrap: wrap;
justify-content: center;
}

.UX-text{
    font-size: 20px;
    width: 1050px;
    font-weight: normal;
    color: antiquewhite;
text-align: center;

}
  
.code-container{
    display: flex;
    align-items:center;
    padding: 10px 0px;
}

.codesheet2{
    padding: 0px 80px;
    height: 500px;
}

.code-text{
   /* border: 1px dashed beige;*/
    width: 700px;
    height: 250px;
    margin: 0px;
    font-size: 20px;
    
}


.link{
    font-weight: bold;
}

.code-text2{
    /*border: 1px dashed beige;*/
    font-size: 20px;
    text-align: center;
    color: antiquewhite;
    padding: 80px 0px;
    width: 1300px;
    

}

.text-container{
    display:flex ;
    flex-wrap:wrap ;
    justify-content: center;
   
}

.worksheets{
    width: 600px;
    height: 350px;
    padding: 0px 8px;

}

.worksheet-container{
font-size: 20px;
color: antiquewhite;
font-family: Arial, Helvetica, sans-serif;
text-align: center;

}
